{
  "parser": "@typescript-eslint/parser",
  "globals": {
    "__PATH_PREFIX__": true
  },
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16.8" // 告诉eslint-plugin-react自动检测要使用的React版本
    }
  },
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["react", "@typescript-eslint/eslint-plugin"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-non-null-assertion": 0,
    "jsx-a11y/accessible-emoji": 0,
    "jsx-a11y/iframe-has-title": 0,
    "import/no-unresolved": 0,
    "no-const-assign": 1,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": 0,
    "prefer-const": 1
  }
}
