html {
  --font-family-base: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: 'IBM Plex Mono', Menlo, monospace;
  --font-family-heading: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  --border-radius-mini: 2px;
  --border-radius-small: 4px;
  --border-radius-medium: 6px;
  --border-radius-large: 8px;
  --content-width: 1060px;
  --content-width-medium: 850px;
  --content-width-small: 560px;
  --navbar-height-large: 60px;
  --navbar-height-small: 50px;
}

:root {
  --page-background: 249, 250, 251;
  --card-background: 254, 254, 254;
  --card-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;

  --code-font-color: #232529;
  --terminal-bar: webkit-linear-gradient(top, #ebebeb, #d5d5d5);
  --terminal-accent: #969696;
  --string-color: #3b9039;
  --variable-color: #383a41;
  --property-color: #565656;
  --number-color: #da7430;
  --operator-color: #a87200;
  --punctuation-color: #5c6d74;
  --comment-color: #b5b5b5;
  --function-color: #0174a5;
  --keyword-color: #111;
  --attribute-color: #a87200;
  --class-color: #a346a0;
  --tag-color: #365ccd;
  --error-color: #b0292c;

  --color-fill-0: rgba(var(--gray-8), 0.05);
  --color-fill-1: rgba(var(--gray-8), 0.09);
  --color-fill-2: rgba(var(--gray-8), 0.13);
  --color-fill-3: rgba(var(--gray-8), 0.15);

  --color-text-0: rgba(var(--gray-9), 1);
  --color-text-1: rgba(var(--gray-9), 0.85);
  --color-text-2: rgba(var(--gray-9), 0.6);
  --color-text-3: rgba(var(--gray-9), 0.35);

  --color-border-0: rgba(var(--gray-9), 0.08);
  --color-border-1: rgba(var(--gray-9), 0.12);

  --primary-0: 245, 246, 255;
  --primary-1: 224, 228, 255;
  --primary-2: 193, 199, 255;
  --primary-3: 162, 170, 255;
  --primary-4: 131, 139, 255;
  --primary-5: 100, 108, 255;
  --primary-6: 79, 84, 219;
  --primary-7: 61, 63, 184;
  --primary-8: 45, 45, 148;
  --primary-9: 32, 31, 112;

  --gray-0: 249, 249, 249;
  --gray-1: 230, 232, 234;
  --gray-2: 198, 202, 205;
  --gray-3: 167, 171, 176;
  --gray-4: 136, 141, 146;
  --gray-5: 107, 112, 117;
  --gray-6: 85, 91, 97;
  --gray-7: 65, 70, 76;
  --gray-8: 46, 50, 56;
  --gray-9: 28, 31, 35;

  --red-0: 255, 236, 232;
  --red-1: 253, 205, 197;
  --red-2: 251, 172, 163;
  --red-3: 249, 137, 129;
  --red-4: 247, 101, 96;
  --red-5: 245, 63, 63;
  --red-6: 203, 39, 45;
  --red-7: 161, 21, 30;
  --red-8: 119, 8, 19;
  --red-9: 77, 0, 10;

  --gold-0: 255, 252, 232;
  --gold-1: 253, 244, 191;
  --gold-2: 252, 233, 150;
  --gold-3: 250, 220, 109;
  --gold-4: 249, 204, 69;
  --gold-5: 247, 186, 30;
  --gold-6: 204, 146, 19;
  --gold-7: 162, 109, 10;
  --gold-8: 119, 75, 4;
  --gold-9: 77, 45, 0;

  --green-0: 232, 255, 234;
  --green-1: 175, 240, 181;
  --green-2: 123, 225, 136;
  --green-3: 76, 210, 99;
  --green-4: 35, 195, 67;
  --green-5: 0, 180, 42;
  --green-6: 0, 154, 41;
  --green-7: 0, 128, 38;
  --green-8: 0, 102, 34;
  --green-9: 0, 77, 28;

  --blue-0: 232, 247, 255;
  --blue-1: 195, 231, 254;
  --blue-2: 159, 212, 253;
  --blue-3: 123, 192, 252;
  --blue-4: 87, 169, 251;
  --blue-5: 52, 145, 250;
  --blue-6: 32, 108, 207;
  --blue-7: 17, 75, 163;
  --blue-8: 6, 48, 120;
  --blue-9: 0, 26, 77;

  --magenta-0: 255, 232, 244;
  --magenta-1: 248, 203, 228;
  --magenta-2: 240, 176, 215;
  --magenta-3: 233, 150, 202;
  --magenta-4: 225, 125, 192;
  --magenta-5: 218, 102, 183;
  --magenta-6: 183, 64, 151;
  --magenta-7: 147, 34, 121;
  --magenta-8: 112, 13, 92;
  --magenta-9: 77, 0, 64;
}

:root[theme-mode='dark'] {
  --page-background: 21, 21, 23;
  --card-background: 35, 36, 38;
  --card-shadow: 0 1px 2px 0 rgb(0 0 0 / 3%), 0 1px 6px -1px rgb(0 0 0 / 2%), 0 2px 4px 0 rgb(0 0 0 / 2%);

  --code-font-color: #b3b9c5;
  --terminal-bar: -webkit-linear-gradient(top, #444, #222);
  --terminal-accent: #595959;
  --string-color: #92d192;
  --variable-color: #f2777a;
  --property-color: #b3b9c5;
  --number-color: #fca369;
  --operator-color: #ac8d58;
  --punctuation-color: #c7cdd7;
  --comment-color: #6c6c6c;
  --function-color: #76d4d6;
  --keyword-color: #ffeea6;
  --attribute-color: #ffd479;
  --class-color: #e1a6f2;
  --tag-color: #6ab0f3;
  --error-color: #b0292c;

  --primary-0: 32, 31, 112;
  --primary-1: 45, 45, 148;
  --primary-2: 61, 63, 184;
  --primary-3: 79, 84, 219;
  --primary-4: 100, 108, 255;
  --primary-5: 131, 139, 255;
  --primary-6: 162, 170, 255;
  --primary-7: 193, 199, 255;
  --primary-8: 224, 228, 255;
  --primary-9: 245, 246, 255;

  --gray-0: 28, 31, 35;
  --gray-1: 46, 50, 56;
  --gray-2: 65, 70, 76;
  --gray-3: 85, 91, 97;
  --gray-4: 107, 112, 117;
  --gray-5: 136, 141, 146;
  --gray-6: 167, 171, 176;
  --gray-7: 198, 202, 205;
  --gray-8: 230, 232, 234;
  --gray-9: 249, 249, 249;

  --red-0: 77, 0, 10;
  --red-1: 119, 6, 17;
  --red-2: 161, 22, 31;
  --red-3: 203, 46, 52;
  --red-4: 245, 78, 78;
  --red-5: 247, 105, 101;
  --red-6: 249, 141, 134;
  --red-7: 251, 176, 167;
  --red-8: 253, 209, 202;
  --red-9: 255, 240, 236;

  --gold-0: 77, 45, 0;
  --gold-1: 119, 75, 4;
  --gold-2: 162, 111, 15;
  --gold-3: 204, 150, 31;
  --gold-4: 247, 192, 52;
  --gold-5: 249, 204, 68;
  --gold-6: 250, 220, 108;
  --gold-7: 252, 233, 149;
  --gold-8: 253, 244, 190;
  --gold-9: 255, 252, 232;

  --green-0: 0, 77, 28;
  --green-1: 4, 102, 37;
  --green-2: 10, 128, 45;
  --green-3: 18, 154, 55;
  --green-4: 29, 180, 64;
  --green-5: 39, 195, 70;
  --green-6: 80, 210, 102;
  --green-7: 126, 225, 139;
  --green-8: 178, 240, 183;
  --green-9: 235, 255, 236;

  --blue-0: 0, 26, 77;
  --blue-1: 5, 47, 120;
  --blue-2: 19, 76, 163;
  --blue-3: 41, 113, 207;
  --blue-4: 70, 154, 250;
  --blue-5: 90, 170, 251;
  --blue-6: 125, 193, 252;
  --blue-7: 161, 213, 253;
  --blue-8: 198, 232, 254;
  --blue-9: 234, 248, 255;

  --magenta-0: 77, 0, 64;
  --magenta-1: 112, 11, 92;
  --magenta-2: 147, 33, 121;
  --magenta-3: 183, 65, 151;
  --magenta-4: 218, 106, 184;
  --magenta-5: 225, 139, 197;
  --magenta-6: 233, 163, 207;
  --magenta-7: 240, 187, 219;
  --magenta-8: 248, 213, 232;
  --magenta-9: 255, 239, 247;
}
