# deploy.yml
name: Deploy master branch to servers
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Cache pnpm
        uses: actions/cache@v4
        with:
          path: |
            ~/.pnpm-store
            node_modules
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install
        run: pnpm install

      - name: update-submodule
        run: pnpm update-submodule

      - name: Build
        run: pnpm build

      - name: ssh deploy
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }} # 私钥
          REMOTE_HOST: ${{ secrets.HOST }} # 服务器地址
          REMOTE_USER: ${{ secrets.USER }} # 服务器用户名
          REMOTE_PORT: ${{ secrets.PORT }} # 服务器ssh端口
          TARGET: ${{ secrets.TARGET }}
          SOURCE: 'public/'